html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;



}
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
/* Clear CSS End */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* CSS Global */
body {
    background-color: #222;
    font-family: 'Roboto', sans-serif;
    color: white;
}
.background {
    /* background-image:url("Assets/bkg2.jpg"); */
    background: url('https://images.unsplash.com/photo-1476842634003-7dcca8f832de?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}


#global-container {
    /* border: 1px solid black; */
    position: absolute;
    top: 0;
    right: 0px;
    bottom: 0;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logo {
    margin-bottom: 45px;
    /* border: 1px solid red; */
    font-size: 36px;
    display: flex;
}
.logo img {
    width: 65px;
    margin-right: 20px;
    position: relative;
    top: -10px;
}

#container-box {
    /* border: red solid 1px; */
    width: 600px;
    height: 500px;
    background: rgba(255, 255, 255, 0.1);
    /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
    backdrop-filter: blur( 25px );
    -webkit-backdrop-filter: blur( 15px );
    border-radius: 25px;
    padding: 70px 110px;
    box-sizing: border-box;
}
#container-box .text {
    font-size: 35px;
}
#container-box .textbelow {
    margin-top: 30px;
    font-family: 'Mulish', sans-serif;
    font-weight: lighter;
    font-size: 15px;
    opacity: 0.3;
    margin-bottom: 35px;
    letter-spacing: 0.4px;
}
.input {
    margin: 18px auto;
    position: relative;
}
.input input {
    width: 100%;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 65px;
    padding-right: 20px;
    box-sizing: border-box;
    background-color: inherit;
    border-radius: 10px;
    font-size: 17px;
    font-weight: lighter;
    border: 1px solid rgb(100, 100, 100);
    color: white;
    letter-spacing: 0.4px;
}
.input input:focus {
    outline: none;
    border: 1px solid rgb(255, 255, 255);
}
.input .gic {
    position: absolute;
    top: 11px;
    left: 20px;
}
.input-cb {
    margin: 25px auto;
    position: relative;
}
.input-cb label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    height: 22px;
    left: 0;
    position: absolute;
    top: 0;
    width: 22px;
}
.input-cb label:after{
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 5px;
    left: 5px;
    opacity: 0;
    position: absolute;
    top: 6px;
    transform: rotate(-45deg);
    width: 12px;
}
.input-cb input{
    visibility: hidden;
}
.input-cb input:checked + label{
    background-color: #6b69e4;
    border-color: #6b69e4;
}
.input-cb input:checked + label:after{
    opacity: 1;
}
.input-cb span {
    position: absolute;
    display: block;
    top: 5px;
    left: 40px;
    font-family: 'Mulish', sans-serif;
    font-weight: lighter;
    font-size: 15px;
    letter-spacing: 0.6px;
}
button {
    margin: 22px auto;
    background-color: #6b69e4;
    border: none;
    border-radius: 10px;
    width: 100%;
    color: white;
    padding: 13px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
}

.forgot {
    display: grid;
    justify-content: center;
    /* border: 1px solid red; */
    margin-top: 45px;
}
.forgot h5 {
    text-align: center;
    font-weight: 400;
    font-size: 15px;
}
.forgot a {
    color: #6b69e4;
    font-weight: bolder;
    text-decoration: none;
    font-weight: bolder;
    text-align: center;
    font-size: 15px;
}








/* Sourced Code */

/* Loader */
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scale(0.5);
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/* Loader End */